* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #334ebf;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header com os botões */
header {
    background-color: #161174;
    padding: 60px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.botao {
    background-color: #cdd6ff;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #ffffff;
    transition: background-color .0s ease;
}

.botao:hover {
    background-color: #6e7ac9;
}

/* Rodapé */
footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    position: relative;
    z-index: 1;
}